.dataContainer {
    width: 65%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.scrollableContent {
    overflow-y: auto;
    flex: 1;
    padding: 15px;
}

.row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid #F8E49C;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
    background-color: rgba(255, 245, 204, 0.1);
    backdrop-filter: blur(1px);
}

.row:hover {
    transform: scale(1.01);
    backdrop-filter: blur(5px);
}

.rowHeader {
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(255, 245, 204, 1);
    font-size: clamp(9px, 1.1vw, 18px);
    font-family: "155-SSZhongZhengSongTi";
    user-select: none;
    justify-items: center;
    align-items: center;
    white-space: nowrap;
}

.rowHeader span {
    display: flex;
    align-items: center;
}

.rowHeader span:nth-child(2) {
    margin-left: 40px;
}
  
.rowHeader span:nth-child(3) {
    margin-left: auto;
    margin-right: 40px;
}

.cycleStatus, .cycleStatus1 {
    font-family: "Orbitron";
    font-weight: 400;
    font-size: clamp(9px, 1.1vw, 18px);
    color: rgba(255, 245, 204, 1);
    border-radius: 10px;
    padding: 4px 18px;
    background-color: rgba(255, 245, 204, 0.08);
    letter-spacing: 1.8px;
    align-items: center;
}

.cycleStatus1 {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 245, 204, 0.8);
}

.expanded {
    flex-direction: column;
}

.expandedColor {
    color: rgba(244, 200, 116, 1);
}

.boxContainer {
    display: flex;
    width: 100%;
    margin-top: 12px;
    gap: 20px;
}

.box, .box1 {
    width: 40%;
    flex: 1;
    border: 2px solid #F8E49C;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 5px;
    background: linear-gradient(to bottom, #D4BF8A, #B49F73, #8E7958, #715C43);
    font-family: "155-SSZhongZhengSongTi";
}

.box1 {
    background: linear-gradient(to bottom right, #F7E6B4, #B58540);
}

.boxHeader {
    text-align: center;
    position: relative;
}

.dropdown {
    width: clamp(18px, 2vw, 29px);
    height: clamp(14px, 1.5vw, 20px);
    transform: scale(-1);
    user-select: none;
}

.dropdownSelected {
    transform: scale(1);
}

.boxHeaderTitle {
    color: #371508;
    text-shadow:
        0.1px 0.1px 0 #7E4806,
        -0.1px 0.1px 0 #7E4806,
        0.1px -0.1px 0 #7E4806,
        -0.1px -0.1px 0 #7E4806;
    font-size: clamp(10px, 1.1vw, 18px);
}

.viewAllButton {
    margin-left: 390px;
    cursor: pointer;
    font-family: "Orbitron";
    font-weight: 700;
    font-size: clamp(9px, 1.1vw, 18px);
    color: rgba(255, 169, 20, 0.35);
    position: relative;
    background: linear-gradient(2deg, #BF904C 14.6484375%, #FFEEDB 77.2216796875%, #FFEEDB 100%);
    -webkit-text-stroke: 1px #240800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: #D1BC88;
}

.viewAllButton:hover {
    transform: scale(1.05);
}

.viewAllButton:active {
    transform: scale(0.97);
}

.boxSubtitle, .boxSubtitle1 {
    font-size: clamp(9px, 1.0vw, 18px);
    margin: 8px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 245, 204, 1);
    display: flex;
    flex-wrap: wrap;
}

.boxSubtitle1 {
    color: #7e4806;
}

.dataRow, .dataRow1 {
    font-size: clamp(7px, 0.85vw, 15px);
    padding: 4px 0;
    color: rgba(255, 245, 204, 1);
    display: flex;
    min-width: 42%;
    margin: auto;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.dataRow, .dataRow1 span {
    flex: 1;
    text-align: left;
    white-space: nowrap;
}

.dataRow1 {
    color: #7E4806;
}

/* .dataRow1 span {
    color: #371508;
} */

.dataRowYouColor, .dataRowYouColor1 {
    color: #F4C874;
    font-weight: 700;
}

.dataRowYouColor1 {
    color: #371508;
}

.fatedGiftsBtnContainer {
    display: none;
    justify-content: flex-end;
    width: 65%;
    padding: 0 20px;
    transform: translateY(-15px);
}

.fatedGiftsBtn {
    font-family: "Orbitron";
    font-weight: 700;
    font-size: clamp(13px, 1vw, 18px);
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(2deg, #6F573F 14.6%, #ECDD8C 77.2%, #F1E2A0 90%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: transform 0.1s ease;
}

.fatedGiftsBtn:hover {
    background: linear-gradient(2deg, #423427 15%, #95734C 50.2%, #C5A36A 80%);
}

.fatedGiftsBtn:active {
    transform: scale(0.97);
}

.fatedGiftsBtn span {
    background: linear-gradient(to bottom,
            #FCEBCA,
            #EDD39D,
            #D3A553);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px 0 #240800) 
            drop-shadow(0 0 0 #240800) 
            drop-shadow(0.1px -0.1px 0 #240800) 
            drop-shadow(-0.1px 0px 0 #240800);
}

@media (max-width: 768px) {
    .dataContainer {
        width: 100%;
        padding: 8px;
    }

    .row {
        margin-bottom: 8px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #F8E49C;
    }

    .boxContainer {
        gap: 8px;
    }

    .dataRow, .dataRow1 {
        min-width: 35%;
    }

}