.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal {
    background-image: url('../../../public/images/Fate/Selected/Bg.webp');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    width: calc(53vw + (40vw - 70px) * 0.75);
    max-width: 900px;
    height: 76vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: "155-SSZhongZhengSongTi";
    overflow: hidden;
    transform: scale(0);
    animation: scaleIn 0.1s ease-out forwards;
    align-items: center;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.header {
    text-align: center;
    font-size: 51px;
    font-weight: bold;
    margin-top: 19px;
    color: rgba(233, 205, 144, 1);
    font-family: 'FSKim-Medium';
}

.tableWrapper {
    height: 72.9%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 6%;
    overflow-x: scroll;
    width: calc(53vw + (40vw - 200px) * 0.85);
    max-width: 830px;
    overflow-y: hidden;
}

.tableHeader {
    display: flex;
    color: #F4C874;
    font-size: 17px;
}

.tableHeader div {
    display: flex;
    border: 1px solid #FAE3A1;
    padding: 9px;
    border-right: none;
    box-sizing: border-box;
    text-align: center;
    word-break: break-word;
    align-items: center;
    justify-content: center; 
}

.scrollbarSpacer {
    width: 23px;
    border: none !important;
}

.scrollContainer {
    position: relative;
    flex: 1;
}

.tableBodyWrapper {
    overflow-y: scroll;
    padding-right: 4px;
    box-sizing: content-box;
    height: calc(50vh + (40vh - 420px) * 0.65);
    width: calc(110vw + (40vw - 200px) * 0.85);
    max-width: 825px;
}

.tableBodyWrapper::-webkit-scrollbar {
    width: 13px;
}

.tableBodyWrapper::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.tableBodyWrapper::-webkit-scrollbar-thumb {
    cursor: pointer;

    background: linear-gradient(to bottom, #F5CB7A, #FBE6AF);
    border-radius: 2px;
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.6),
        inset 0 -1px 1px rgba(188, 160, 105, 0.4),
        0 0 1px rgba(188, 160, 105, 0.6);
    border: 2px solid rgba(188, 160, 105, 0.3);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tableBody {
    display: flex;
    flex-direction: column;
    color: rgba(255, 245, 204, 1);
    font-size: 14px;

}

.row {
    display: flex;
    border-bottom: 1px solid #FAE3A1;
    border-left: 1px solid #FAE3A1;
    border-right: 1px solid #FAE3A1;
}

.cell {
    padding: 9px;
    border-right: 1px solid #FAE3A1;
    box-sizing: border-box;
    text-align: center;
    word-break: break-word;
    align-items: center;
}

/* Column width classes */
.colNum {
    flex: 0 0 60px;
}

.colAddress {
    flex: 0 0 180px;
}

.colWishPoints {
    flex: 0 0 120px;
}

.colWishPointsPool {
    flex: 0 0 150px;
}

.colFatedPoolQualified {
    flex: 0 0 150px;
}

.colFatedPool {
    flex: 0 0 152px;
    border-right: none;
}

.closeButton {
    position: absolute;
    top: 18px;
    right: 18px;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}


.closeButton:hover {
    transform: scale(1.1);
}

.closeButton:active {
    transform: scale(0.95);
}

.closeButton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


@media (max-width: 768px) {
    .modal {
        width: 90vw;
        height: 80vh;
        padding: 10px;
    }

    .header {
        font-size: 43px;
    }

    .tableWrapper {
        width: 96%;
    }

    .scrollbarSpacer {
        width: 16px;
    }
    .tableBodyWrapper{
        height: calc(59vh + (40vh - 470px) * 0.45);
        width: calc(170vw + (70vw - 75px) * 2.5);
        max-width: 818px;
    }

    .tableBodyWrapper::-webkit-scrollbar {
        width: 6px;
    }

    .tableHeader {
        font-size: 14px;
    }

    .tableBody {
        font-size: 11px;
    }

    .loading{
        width: 60px;
        height: 60px;
    }
}