.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}

.logo img {
  width: 180px;
  height: auto;
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
  gap: clamp(1px, calc(100vw / 122), 18px);
}

.navItem {
  padding: 0 15px;
  height: 36px;
  font-family: 'Orbitron';
  font-weight: 400;
  font-size: clamp(12px, 2vw, 18px);
  color: #E2BE76;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.2s ease;
  border: none;
  cursor: pointer;
  background-image: url('/images/Header/MenuBg.webp');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.navItem:hover {
  transform: scale(1.05);
}

.navItem.selected {
  background-image: url('/images/Header/MenuSelectedBg.webp');
  color: #000;
}

.navItem.selected:hover {
  color: #000;
}

.connectButton {
  position: relative;
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 15px;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  color: #F8E49C;
  border: 1px solid #F8E49C;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s ease;
  background-color: rgba(255, 245, 204, 0.2);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.dropdownItem {
  padding: 8px 15px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 25px;
}

.dropdownItem:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 245, 204, 0.8);
}

.connectButton:hover .dropdown {
  display: block;
}

.bgmButton {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0.1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.bgmButton:hover {
  transform: scale(1.1);
}

.bgmButton img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}


@media (max-width: 630px) {
  .logo {
    opacity: 0;
  }
}