.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('/images/Header/Welcome/WelcomeBg.webp');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: calc(14vw + 260px);
    padding-top: 20px;
    padding-bottom: calc(5vh + 30px);
    font-family: 'FSKim-Medium';
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 999;
}

.title {
    text-align: center;
    font-size: clamp(40px, 3vw, 60px);
    background: linear-gradient(-49deg, #F4C873 0%, #E9CD90 52.5146484375%, #F2C96D 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    white-space: nowrap;
}

.module {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.moduleHeader {
    display: flex;
    align-items: center;
    text-align: center;
}

.iconHand {
    width: calc(0.5vw + 18px);
    height: calc(0.5vw + 18px);
    margin-right: 12px;
}

.iconGift {
    width: calc(0.5vw + 17px);
    height: auto;
    margin-right: 12px;
}

.moduleTitle {
    font-size: clamp(25px, 2vw, 28px);
    color: #FFF5CC;
}

.moduleContent {
    color: #F0C472;
    font-size: clamp(15px, 2vw, 17px);
    text-align: center;
}

.cornerImage {
  position: absolute;
  bottom: 20px; 
  right: 30px;
  width: calc(2vw + 60px);
  height: auto;
  pointer-events: none;
  z-index: -1;
  border-radius: 8px;
}