.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('/images/wishWall/BG.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 设置滚动条样式 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.secTitle {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.secTitleWishingWall,
.secTitleMyWishs {
  width: 185px;
  height: 36px;
  font-family: 'Orbitron';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  line-height: 33px;
  white-space: nowrap;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secTitleWishingWall:hover {
  transform: scale(1.05);
}

.secTitleMyWishs:hover {
  transform: scale(1.05);
}

.secTitleWishingWall {
  background-image: url('/images/wishWall/SecTitleSelectedBg.webp');
}

.secTitleMyWishs {
  background-image: url('/images/wishWall/SecTitleNotSelectedBg.webp');
  color: #E2BE76;
}

.title {
  margin: 1px auto 1px auto;
  text-align: center;
  font-family: 'FSKim-Medium';
  font-weight: 400;
  font-size: 54.08px;
  background: linear-gradient(-49deg, #F4C873 0%, #E9CD90 52.5146484375%, #F2C96D 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  white-space: nowrap;
}

.content {
  height: 68vh;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 116px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-image: url('/images/wishWall/WishContentBg.webp');
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 30px;
  cursor: pointer;
}

.infoBox:hover {
  transform: scale(1.01);
}

.textContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wishContent {
  width: 570px;
  height: 62px;
  font-family: '155-SSZhongZhengSongTi';
  font-weight: 400;
  font-size: 15px;
  color: #FFF5CC;
  line-height: 31px;
  word-break: break-word;
  display: flex;
  align-items: center;
}

.wishMeta {
  display: flex;
  margin-top: 1px;
  flex-wrap: wrap;
  gap: 30px;

  font-family: '155-SSZhongZhengSongTi';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #FFF6D9;
  display: flex;
  align-items: center;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-left: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 87px;
  height: 87px;
  text-align: center;
  color: #888;
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.loading img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: rotate 0.5s linear infinite;
}

.notHasMore {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.notHasMore span:first-child img {
  width: 40px;
  height: 40px;
}

.notHasMore span:last-child {
  color: #F4C873;
  font-size: 20px;
  font-family: 'FSKim-Medium';
  font-weight: 400;
}

.footer {
  height: 16vh;
  width: 100%;
  max-width: 800px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}