.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('/images/wishWall/BG.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secTitle {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.secTitleWishingWall,
.secTitleMyWishs {
  width: 185px;
  height: 36px;
  font-family: 'Orbitron';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  line-height: 33px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secTitleWishingWall {
  background-image: url('/images/wishWall/SecTitleSelectedBg.webp');
}

.secTitleMyWishs {
  background-image: url('/images/wishWall/SecTitleNotSelectedBg.webp');
  color: #E2BE76;
}

.title {
  margin: 27px auto 22px auto;
  text-align: center;
  font-family: 'FSKim';
  font-weight: 400;
  font-size: 54.08px;
  background: linear-gradient(-49deg, #F4C873 0%, #E9CD90 52.5146484375%, #F2C96D 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  white-space: nowrap;
}

.content {
  height: 68vh;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 116px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-image: url('/images/wishWall/WishContentBg.webp');
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 30px;
}

.textContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wishContent {
  width: 570px;
  height: 62px;
  font-family: 'FSKim';
  font-weight: 400;
  font-size: 15px;
  color: #FFF5CC;
  line-height: 31px;
  word-break: break-word;
}

.wishMeta {
  display: flex;
  margin-top: 1px;
  flex-wrap: wrap;
  gap: 30px;

  font-family: 'FSKim';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #FFF6D9;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-left: 20px;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #888;
}

.footer {
  height: 16vh;
  width: 100%;
  max-width: 800px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}