.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('/images/wishWall/BG.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  line-height: 3.06rem;
  text-align: center;
  font-family: 'FSKim';
  font-weight: 400;
  font-size: 3.38rem;
  background: linear-gradient(-49deg, #F4C873 0%, #E9CD90 52.5146484375%, #F2C96D 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  white-space: nowrap;
}

.content {
  height: 68vh;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16vh;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.textContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wishContent {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.wishMeta {
  display: flex;
  font-size: 12px;
  color: #777;
  margin-top: 6px;
  word-break: break-word;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-left: 20px;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #888;
}


.footer {
  height: 16vh;
  width: 100%;
  max-width: 800px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}