.carouselWrapper {
    height: 11.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-image: url('/images/wish/WishPanel/CarouselBg.webp'), url('/images/wish/WishPanel/CarouselBgBorder.webp');
    background-size: cover, 100% 100%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    border-radius: 0.00625rem;
    margin: 0 auto;
}

.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 8.2rem;
}

.carouselInner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75%;
}

.card {
    position: absolute;
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    transform: scale(0.8);
    z-index: 1;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card.incense {
    background-image: url('/images/wish/WishPanel/ItemBorder.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card img {
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    object-fit: cover;
    border-radius: 0.1rem;
}

.active {
    transform: translateX(0) scale(1.4);
    opacity: 1;
    z-index: 3;
}

.active:hover {
    transform: scale(1.5);
}

.left {
    transform: translateX(-6.875rem) scale(0.9);
    opacity: 0.6;
    z-index: 2;
}

.right {
    transform: translateX(6.875rem) scale(0.9);
    opacity: 0.6;
    z-index: 2;
}

.navButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 4;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navButton img {
    width: 1.65rem;
    height: 1.65rem;
    object-fit: contain;
    transition: transform 0.1s ease;
}

.navButton:hover img {
    transform: scale(1.2);
}

.navButton:active img{
    transform: scale(1);
}

.carouselText {
    text-align: center;
    margin-top: -1.1rem;
    line-height: 1.4;
    font-family: "AlibabaPuHuiTi";

    .title {
        font-weight: bold;
        font-size: 1.1rem;
        color: #F0F0F0;
    }

    .sub {
        font-size: 0.8rem;
        color: #aaa;

        .price {
            margin-left: 0.5rem;
        }

        .time {
            margin-left: 0.5rem;
        }
    }

    .desc {
        font-size: 0.85rem;
        font-weight: 400;
        color: #FFF5CC;
        margin-top: 0.25rem;
    }
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
}

.card.active .cardImage {
    filter: drop-shadow(0 0 8px rgba(244, 200, 115, 0.6));
}

@media (max-width: 768px) {
    .card {
        width: 3.125rem;
        height: 3.125rem;
    }

    .left {
        transform: translateX(-19vw) scale(0.9);
    }

    .right {
        transform: translateX(19vw) scale(0.9);
    }

    .carouselContainer {
        height: 4.6875rem;
    }

    .carouselInner {
        width: 73%;
    }
}