.myIncenseCarouselContainer {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carouselContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: auto;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

.navButton img {
  width: 1.65rem;
  height: 1.65rem;
  object-fit: contain;
  transition: transform 0.1s ease;
}

.navButton:hover img {
  transform: scale(1.2);
}

.navButton:active img {
  transform: scale(1);
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.incenseImageContainer {
  width: 100px;
  height: 100px;
  position: relative;
  background-image: url('/images/wish/WishPanel/ItemBorder.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 18px rgba(244, 200, 115, 0.6));

}

.incenseImageContainer:hover {
  transform: scale(1.1);
}

.incenseImage {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  object-fit: contain;
  border-radius: 0.1rem;
  transition: transform 0.3s ease;
}

.countdownTimer {
  margin-top: 8px;
  font-family: "Orbitron";
  font-size: 1rem;
  color: #FFF5CC;
  text-align: center;
} 