.container {
    position: fixed;
    top: 45%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 4vw;
    box-sizing: border-box;
    pointer-events: none;
}

.panel {
    width: 30vw;
    height: 60vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
}

.scrollWindow {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    min-height: 96px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
    user-select: none;
    font-size: 14px;
    color: #333;
    line-height: 1.2;
    margin-bottom: 25px;
}

.item:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.wishContent {
    font-family: '155-SSZhongZhengSongTi';
    font-weight: 400;
    font-size: 16px;
    color: #FFF5CC;
    line-height: 31px;
    word-break: break-word;
    display: flex;
    align-items: center;
}

.wishMeta {
    display: flex;
    margin-top: 1px;
    flex-wrap: wrap;
    gap: 30px;
    font-family: '155-SSZhongZhengSongTi';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #aaa;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .panel {
        width: 40vw;
        height: 56vh;
        /* height: 102vw; */
    }

    .wishContent {
        font-size: 14px;
    }
}