@font-face {
  font-family: 'FSKimTrial-Regular';
  src: url('/fonts/FSKimTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sling';
  src: url('/fonts/SlingLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Sling';
  src: url('/fonts/Sling.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Sling';
  src: url('/fonts/SlingBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba-PuHuiTi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba-PuHuiTi-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'FSKim-Medium';
  src: url('/fonts/FSKim-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: '155-SSZhongZhengSongTi';
  src: url('/fonts/155-SSZhongZhengSongTi.ttf') format('truetype');
  font-display: swap;
}

.container {
  position: absolute;
  inset: 0;
  background-image: url('/images/BG.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}